{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md

  KH since 2025-09-10
#}

%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-CarePlan-" ~ instanceid) }}
InstanceOf: CarePlan
Title: "CarePlan"
Description: "CarePlan"
Usage: #inline

* id = "{{ instanceid }}"

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Active Planned Care / Goals") }}
{{ addHEAD_th("Date") }}
{{ addHEAD_th("Reason") }}
{{ addHEAD_trend() -}}

{{ addHTML_tr() }}

* status = #active
* intent = #plan

* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

* category.coding = http://terminology.hl7.org/CodeSystem/care-plan-category#assess-plan "Assessment and Plan"

{% if careplan.kind is empty %}
* activity.detail.kind = #appointment
{% else %}
* activity.detail.kind = {{ careplan.kind }}
{% endif %}

{% if careplan.status is empty %}
* activity.detail.status = #unknown
{% else %}
* activity.detail.status = {{ careplan.status }}
{% endif %}

* activity.detail.code.coding = {{ careplan.activity.system }}#{{ careplan.activity.code }} "{{ careplan.activity.display }}"

{% if careplan.activity.preferredTerm is not empty %}
* activity.detail.description = "{{ careplan.activity.preferredTerm }}"
{{ addHTML_td(careplan.activity.preferredTerm) }}
{% else %}
{{ addHTML_td(careplan.activity.display) }}
{% endif %}

* period.start = "{{ careplan.start }}"
{{ addHTML_tdnb(careplan.start|date('d-M-Y')) }}

{% if careplan.reason is empty %}
{{ addHTML_td("-") }}
{% else %}
* activity.detail.reasonCode = {{ careplan.reason.system }}#{{ careplan.reason.code }} "{{ careplan.reasond.isplay }}"
{{ addHTML_td(careplan.reason.display) }}
{% endif %}

{{ addHTML_trend() -}}

{# second row with optional goals #}
{% set got = "" %}
{% for g in goals %}
* goal[+] = Reference(urn:uuid:{{ g.instanceid }})
{# add also the HTML rendition of the goals #}
{% set got = got ~ "<li>" ~ g.description ~ "</li>" %}
{% endfor %}

{% if got is not empty %}
{# add the second row with goals #}
{{ addHTML_tr() }}
{{ addHTML_td("<ul>" ~ got | escape ~ "</ul>") }}
{{ addHTML_td("") }}
{{ addHTML_td("") }}
{{ addHTML_trend() -}}
{% endif %}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHEAD() | raw }}{{ emitHTML() | raw }}</table>
</div>
"""

{# emit all goals as part of the FSH for care plans #}
{% for g in goals %}
Instance: Instance-Goal-{{ g.instanceid }}
InstanceOf: Goal
Title: "{{ g.title }}"
Description: "{{ g.description}}"
Usage: #inline
* id = "{{ g.instanceid }}"
* lifecycleStatus = #active
* description.text = "{{ g.description}}"
* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

{{ g.fsh | raw }}

{% endfor %}

%%HEAD%% {# tag required, content below maybe emtpy #}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}