{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md
  
  KH since 2025-09-02
#}

%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-Composition-" ~ instanceid) }}
InstanceOf: CompositionEuEps
Usage: #inline

* id = "{{ instanceid }}"

* identifier.system = "urn:oid:{{ HL7EUROPEEXAMPLESOID }}"
* identifier.value = "{{ composition.identifier }}"
* identifier.assigner.display = "HL7 Europe"

* title = "European Patient Summary"

* status = #final

* type = $loinc#60591-5 "Patient summary Document"
* type.text = "Patient summary Document"

* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

* author[+] = Reference(urn:uuid:{{ provider.instancerole }})

* custodian[+] = Reference(urn:uuid:{{ provider.instanceroleorg }})

* date = "{{ composition.date|date('Y-m-d\TH:i:s\Z') }}

* confidentiality = #N








{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Vital Sign") }}
{{ addHEAD_th("Date") }}
{{ addHEAD_th("Measurement") }}
{{ addHEAD_trend() -}}


* category[VSCat].coding[0] = http://terminology.hl7.org/CodeSystem/observation-category#vital-signs "Vital Signs"

{{ addHTML_tr() }}

{# *** HTML td 1: code #}
* code = {{ vital.code.system }}#${{ vital.code.code }} "{{ vital.code.display }}"
{{ addHTML_td(vital.code.display) }}

* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

{# *** HTML td 2: date #}
* effectiveDateTime = "{{ vital.date }}"
{{ addHTML_td(vital.date|date('d-M-Y')) }}

{# *** HTML td 3: measurement, either single or components #}
{% if vital.scale == "numeric" and vital.value is not empty %}
* valueQuantity.value = {{ vital.value }}
* valueQuantity.code = $ucum#{{ vital.unit }}
* valueQuantity.unit = "{{ vital.unit }}"
{{ addHTML_td(vital.value ~ " " ~ vital.unit) }}
{% elseif vital.component %}
{% for c in vital.component %}
// component
* component[+].code = {{ c.code.system }}#{{ c.code.code}} "{{ c.code.display }}"
* component[=].valueQuantity.value = {{ c.value }}
* component[=].valueQuantity.code = $ucum#{{ c.unit }}
* component[=].valueQuantity.unit = "{{ c.unit }}"
{% endfor %}
{{ addHTML_td(vital.value ~ " " ~ vital.unit) }}
{% else %}
{{ addHTML_td("-") }}
{% endif %}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHEAD() | raw }}{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}