{#
  This is the TWIG file for the creation of a Device and DeviceUse
  It creates a FSH part including the HTML part in text.div from the |%%FSH%% tag on
  The HTML part is created by amalgamating the HTML strings to the final one
  It creates the HTML part as well and includes that below after the |%%HTML%% tag
  The two tagged parts are post-processed by the SYNDERAI script

  KH since 2025-09-12
#}

%%FSH%% {# tag required #}

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Device") }}
{{ addHEAD_th("Date (since)") }}
{{ addHEAD_trend() -}}

{{ addHTML_tr() }}

{# first emit the device #}
Instance: {{ setInstance("Instance-Device-" ~ deinstanceid) }}
InstanceOf: DeviceEuEps
Title: "Device"
Description: "Device"
Usage: #inline

* id = "{{ deinstanceid }}"

* status = #active {# always still active in our cases #}

* patient = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

* udiCarrier[0].id = "{{ device.uid }}"

{% if device.snomed is not empty %}
* type = $sct#{{ device.snomed }} "{{ device.display }}"
{% endif %}

{# now the device use statement #}
Instance: {{ setInstance("Instance-DeviceUse-" ~ duinstanceid) }}
InstanceOf: DeviceUseStatementEuEps
Title: "Device Use"
Description: "Device Use"
Usage: #inline

* id = "{{ duinstanceid }}"

* status = #active {# always still active in our cases #}

{{ addHTML_td(device.display) }}

{% if device.start is empty %}
* timing.extension.url = "http://hl7.org/fhir/StructureDefinition/data-absent-reason"
* timing.extension.valueCode = #unknown
{{ addHTML_td("?") }}
{% else %}
* timingPeriod.start = "{{ device.start }}"
{{ addHTML_tdnb(device.start) -}}
{% endif %}

* device = Reference(urn:uuid:{{ deinstanceid }}) "{{ device.display }}"

* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}
{{ emitHEAD() | raw }}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}