{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md
  
  KH since 2025-09-09
#}

%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-Immunization-" ~ instanceid) }}
InstanceOf: ImmunizationUvIps
Title: "Immunization"
Description: "Immunization"
Usage: #inline

* id = "{{ instanceid }}"

* status = #completed

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Vaccine") }}
{{ addHEAD_th("Date") }}
{{ addHEAD_trend() -}}

{{ addHTML_tr() }}

{# 
  emit data of the Immunization
#}

{# vaccineCode(s) #}

{# add snomed if available #}
{% if immunization.snomed is not empty %}
* vaccineCode.coding[+] = $sct#{{ immunization.snomed.code }} "{{ immunization.snomed.display }}"
{% endif %}
{% if immunization.atc is not empty %}
* vaccineCode.coding[+] = $atc#{{ immunization.atc.code }} "{{ immunization.atc.display }}"
{% endif %}
{% if immunization.cvx is not empty %}
* vaccineCode.coding[+] = $cvx#{{ immunization.cvx.code }} "{{ immunization.cvx.display }}"
{% endif %}
* vaccineCode.text = "{{ immunization.snomed.preferredTerm }}"
{{ addHTML_td(immunization.snomed.preferredTerm) }}

* patient = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

{% if immunization.date is empty %}
{{ addHTML_td("?") }}
{% else %}
* occurrenceDateTime = "{{ immunization.date }}"
{{ addHTML_tdnb(immunization.date|date('d-M-Y')) -}}
{% endif %}

{% if immunization.lotNumber is not empty %}
* lotNumber = "{{ immunization.lotNumber }}"
{% endif %}
{% if immunization.expires is not empty %}
* expirationDate = "{{ immunization.expires }}"
{% endif %}
{% if immunization.site is not empty %}
* site.coding = {{ immunization.site.system }}#{{ immunization.site.code }} "{{ immunization.site.display }}"
* site.text =  "{{ immunization.site.display }}"
{% endif %}
{% if immunization.route is not empty %}
* route.coding[0] = {{ immunization.route.system }}#{{ immunization.route.code }} "{{ immunization.route.display }}"
* route.text =  "{{ immunization.route.display }}"
{% endif %}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}
{{ emitHEAD() | raw }}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}