{#
  This is the TWIG file for the creation of an ImmunizationEPS
  It creates a FSH part including the HTML part in text.div from the |%%FSH%% tag on
  The HTML part is created by amalgamating the HTML strings to the final one
  It creates the HTML part as well and includes that below after the |%%HTML%% tag
  The two tagged parts are post-processed by the SYNDERAI script

  KH since 2025-09-09
#}

%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-Immunization-" ~ instanceid) }}
InstanceOf: ImmunizationUvIps
Title: "Immunization"
Description: "Immunization"
Usage: #inline

* id = "{{ instanceid }}"

* status = #completed

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Vaccine") }}
{{ addHEAD_th("Date") }}
{{ addHEAD_trend() -}}

{{ addHTML_tr() }}

{# 
  emit data of the Immunization
#}

{# vaccineCode(s) #}

{# add snomed if available #}
{% if immunization.snomed is not empty %}
* vaccineCode.coding[+] = $sct#{{ immunization.snomed }} "{{ immunization.snomeddisplay }}"
{% endif %}
{% if immunization.atc is not empty %}
* vaccineCode.coding[+] = $atc#{{ immunization.atc }} "{{ immunization.atcdisplay }}"
{% endif %}
{% if immunization.cvx is not empty %}
* vaccineCode.coding[+] = $cvx#{{ immunization.cvx }} "{{ immunization.cvxdisplay }}"
{% endif %}
* vaccineCode.text = "{{ immunization.preferredTerm }}"
{{ addHTML_td(immunization.preferredTerm) }}

* patient = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

{% if immunization.date is empty %}
{{ addHTML_td("?") }}
{% else %}
* occurrenceDateTime = "{{ immunization.date }}"
{{ addHTML_tdnb(immunization.date|date('d-M-Y')) -}}
{% endif %}

{% if immunization.lotNumber is not empty %}
* lotNumber = "{{ immunization.lotNumber }}"
{% endif %}
{% if immunization.expires is not empty %}
* expirationDate = "{{ immunization.expires }}"
{% endif %}
{% if immunization.site is not empty %}
* site.coding = $sct#{{ immunization.site }} "{{ immunization.sitedisplay }}"
* site.text =  "{{ immunization.sitedisplay }}"
{% endif %}
{% if immunization.route is not empty %}
* route.coding[0] = $sct#{{ immunization.route }} "{{ immunization.routedisplay }}"
* route.text =  "{{ immunization.routedisplay }}"
{% endif %}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}
{{ emitHEAD() | raw }}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}