{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md

  KH since 2025-09-14
#}

%%FSH%% {# tag required #}
{# FAKE ADD ONS - the laboratory organization and provider = legal attester #}
Instance: Instance-PractitionerRole-{{ laboratory.instancerole }}
InstanceOf: PractitionerRoleEu
Usage: #inline
* id = "{{ laboratory.instancerole }}"
* practitioner = Reference(urn:uuid:{{ laboratory.instancepractitioner }})
{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
Laboratory Role Id: {{ laboratory.instancerole }}
</div>
"""

Instance: Instance-Practitioner-{{ laboratory.instancepractitioner }}
InstanceOf: PractitionerEu
Usage: #inline
* id = "{{ laboratory.instancepractitioner }}"
* identifier.system = "urn:oid:{{ HL7EUROPEEXAMPLESOID }}"
{% set practitioneridentifier = getUUID() %}
* identifier.value = "{{ practitioneridentifier }}"
* identifier.assigner.display = "HL7 Europe"
* name.prefix = "dr"
* name.given = "Ex"
* name.family = "Ample"
* address.line[+] = "Laboratoire Central Européenne"
* address.line[+] = "Boulevard du Jardin Botanique 32"
* address.postalCode = "1000"
* address.city = "Brussels"
* address.country = "Belgium"
{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
Laboratory: Laboratoire Central Européenne, 1000 Brussels, Belgium
</div>
"""
{# FAKE ADD ONS #}

%%HEAD%% {# tag required, content below maybe emtpy #}

%%HTML%% {# tag required, content below maybe emtpy #}
