{#
  This is the TWIG file for the creation of an PractitionerRole and Organization
  It creates a FSH part including the HTML part in text.div from the |%%FSH%% tag on
  The HTML part is created by amalgamating the HTML strings to the final one
  It creates the HTML part as well and includes that below after the |%%HTML%% tag
  The two tagged parts are post-processed by the SYNDERAI script

  KH since 2025-09-07
#}

%%FSH%% {# tag required #}

{# emit Practitioner Role #}
{# ---------------------- #}
Instance: {{ setInstance("Instance-PractitionerRole-" ~ requester.instancerole) }}
InstanceOf: PractitionerRoleEu
Title: "Practitioner Role (EPS) Requester"
Description: "Practitioner Role Requester"
Usage: #inline
* id = "{{ requester.instancerole }}"
* organization = Reference(urn:uuid:{{ requester.instanceorg }})
{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">Provider Role Id {{ requester.instancerole }}</table>
</div>
"""

{# emit Organization #}
{# ----------------- #}
Instance: Instance-Organization-{{ requester.instanceorg }}
InstanceOf: OrganizationEu
Title: "Organization Requester"
Description: "Organization Requester"
Usage: #inline
* id = "{{ requester.instanceorg }}"

* identifier.system = "urn:oid:{{ HL7EUROPEEXAMPLESOID }}"
* identifier.value = "{{ requester.orgidentifier }}"
* identifier.assigner.display = "HL7 Europe"

* name = "{{ requester.orgname }}"

{% if provider.address is not empty %}
* address.line = "{{ provider.address }}"
{% endif %}
{% if provider.city is not empty %}
* address.city = "{{ provider.city }}"
{% endif %}
{% if provider.postcode is not empty %}
* address.postalCode = "{{ provider.postcode }}"
{% endif %}
{% if provider.country is not empty %}
* address.country = "{{ provider.country }}"
{% endif %}
{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ provider.providerorgname }}</table>
</div>
"""

{# emit Practitioner #}
{# ----------------- #}
{#}
Instance: Instance-Practitioner
InstanceOf: PractitionerEu
Title: "Practitioner Requester"
Description: "Practitioner Requester"
Usage: #inline
* id = "{{ provider.instanceprovider }}"
* name.prefix = "{{ provider.providernameprefix }}"
* name.given[+] ="{{ provider.providernamegiven }}"
* name.family = "{{ provider.providernamefamily }}"
{# populate .text #}
{#}
* text.status = #generated
* text.div ="""
<div xmlns="http://www.w3.org/1999/xhtml"
<table class="hl7__ips">{{ provider.providernameprefix ~ " " ~ provider.providernamegiven ~ " " ~ provider.providernamefamily }}</table>
</div>
"""
#}

%%HEAD%% {# tag required, content below maybe emtpy #}

%%HTML%% {# tag required, content below maybe emtpy #}
