{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md

  KH since 2025-09-07
#}

%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-Patient-" ~ patient.instanceid) }}
InstanceOf: PatientEuCore
Title: "Patient (EU Core)"
Description: "Patient"
Usage: #inline

* id = "{{ patient.instanceid }}"

{{ addHTML_tr() }}

{# 
  emit data of the identifiers
#}

* identifier[+].type = $v2-0203#PT
* identifier[=].system = "http://ec.europa.eu/identifier/eci"
* identifier[=].value = "{{ patient.eci }}"

{% if patient.match is not empty %}
* identifier[+].type = $v2-0203#MR
* identifier[=].system = "http://local.setting.eu/identifier"
* identifier[=].value = "{{ patient.match }}"
{% endif %}
{% if patient.localid is not empty %}
* identifier[+].type = $v2-0203#MR
* identifier[=].system = "http://local.setting.eu/identifier"
* identifier[=].value = "{{ patient.localid }}"
{% endif %}

{# *** HTML td 1: name #}
* name[+].family = "{{ patient.family }}"
* name[+].given = "{{ patient.given }}"
* name[+].text = "{{ patient.given ~ " " ~ patient.family }}"
{{ addHTML_td(patient.given ~ " " ~ patient.family) }}

{# *** HTML td 2: gender #}
* gender = #{{ patient.gender }}
{{ addHTML_td(patient.gender) }}

{# *** HTML td 3: birthdate #}
* birthDate = "{{patient.birthdate }}"
{{ addHTML_td(patient.birthdate|date('d-M-Y')) }}

* address[+].use = #home
* address[=].type = #physical
{% if patient.street1 is not empty %}
* address[=].line[+] = "{{ patient.street1 }}"
{% endif %}
{% if patient.street2 is not empty %}
* address[=].line[+] = "{{ patient.street2 }}"
{% endif %}
{% if patient.street3 is not empty %}
* address[=].line[+] = "{{ patient.street3 }}"
{% endif %}
* address[=].city = "{{ patient.city }}"
* address[=].postalCode = "{{ patient.postcode }}"
* address[=].country = "{{ patient.countryname }}"

* telecom[+].system = #phone
* telecom[=].value = "{{ patient.phone }}"

{#
  if country is specifed use nationality as extension;
  use 2-char nameset for that coded in ISO 3166 Part 1 Country Codes
#}
* extension[+].url = "http://hl7.org/fhir/StructureDefinition/patient-nationality"
* extension[=].valueCodeableConcept = http://hl7.org/fhir/ValueSet/country#{{ patient.countrycode|upper }}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}
<!-- empty -->

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}