{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md
  
  KH since 2026-02-26 
  
  used for extra addtions for the IPS/EPS Research information when a patient is part of a study, contains
  information about the ResearchStudy
  information about the patient as a ResearchSubject
#}

%%FSH%% {# tag required #}

{# ResearchStudy first #}

Instance: {{ setInstance("Instance-ResearchStudy-" ~ researchstudyinstanceid) }}
InstanceOf: ResearchStudy
Title: "ResearchStudy"
Description: "ResearchStudy Information"
Usage: #inline

{# some HTML representation #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Participant in Study") }}
{{ addHEAD_th("Status") }}
{{ addHEAD_trend() -}}

* id = "{{ researchstudyinstanceid }}"

{# Business Identifier for study #}
* identifier[+].use = #official
* identifier[=].system = "https://clinicaltrials.eu"
* identifier[=].value = "FBEUDIS7395z67927"

{# Name for this study #}
* title = "The Big EU Diabetis Study (BEUDIS) Phase 4"
* description = """
This fictous study aims on treating **Diabetis Type 2** patients in the European Union with a brand new drug called "Combattente"
"""
* primaryPurposeType = #treatment
* phase = #phase-4

* condition = $sct#44054006 "Diabetes mellitus type 2 (disorder)"

* status = #active

* location = #EUR

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
tbd
</div>
"""

{# finally ResearchSubject #}
Instance: {{ setInstance("Instance-ResearchSubject-" ~ researchsubjectinstanceid) }}
InstanceOf: ResearchSubject
Title: "ResearchSubject"
Description: "ResearchSubject Information"
Usage: #inline

* id = "{{ researchsubjectinstanceid }}"

{# Business Identifier for research subject in a study #}
* identifier[+].use = #secondary
* identifier[=].system = "https://beudis.eu"
* identifier[=].value = "40f978c4-0d32-422e-bc07-5f99db9c27c7"

* status = #candidate

* study = Reference(urn:uuid:{{ researchstudyinstanceid }})

* individual[+].type = $v2-0203#PT
* individual[+].use = #official
* individual[=].system = "http://ec.europa.eu/identifier/eci"
* individual[=].value = "{{ patient.eci }}"

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips first25">{{ emitHEAD() | raw }} {{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}
{{ emitHEAD() | raw }}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}
