{#
  This is the TWIG file for the creation of an FSH instance part including the HTML parts.
  see README.md

  This is included by other frame twigs about observations
  
  KH since 2025-09-02
#}


* id = "{{ instanceid }}"

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Test") }}
{{ addHEAD_th(labresult.report|date('d-M-Y')) }}
{{ addHEAD_th("Reference&#xA0;Range") }}
{{ addHEAD_th("Unit") }}
{{ addHEAD_trend() -}}

{{ addHTML_tr() }}

* status = #final

{# we may have more than 1 code which is legal but HL7 EU HDR only want exactly 1..1, take the first #}
{# so if labresult.code is an array instead of iterating with for c in labresult.code use code[0] #}
{# if it is a simple value just use that #}
{% set c = labresult.code|first %}
* code[+].coding = {{ c.system }}#{{ c.code }} "{{ c.display }}"
* code[=].text = "{{ c.display }}"
{{ addHTML_td(c.display) }}

{# * method = $sct#70621000052105 "Spectrophotometric technique" #}

* subject = Reference(urn:uuid:{{ labresult.subject }}) "{{ labresult.subjectname }}"

{% if labresult.effective is not empty %}
* effectiveDateTime = "{{ labresult.effective }}"
{% endif %}
{% if labresult.date is not empty %}
{% endif %}
* effectiveDateTime = "{{ labresult.date|date('Y-m-d') }}"

{% if labresult.value.type == "Quantity" or labresult.valueQuantity is not empty %}

{# if the value is contained in value.value or valueQuantity.value emit them as proper quantities #}
{# if the valueString is just a plain string (no array) express it as .text #}
{% if labresult.value.value is not empty or labresult.valueQuantity.value is not empty %}
* valueQuantity.value = {{ labresult.value.value ?? labresult.valueQuantity.value }}
* valueQuantity.unit = "{{ labresult.value.code ?? labresult.valueQuantity.code }}"
* valueQuantity.code = #{{ labresult.value.unit ?? labresult.valueQuantity.unit }}
* valueQuantity.system = ${{ labresult.value.system ?? labresult.valueQuantity.system }}
{% elseif labresult.valueString is not empty %}
* valueString = {{ labresult.valueString }}
{% endif %}

{{ addHTML_td(labresult.value.value ?? labresult.valueQuantity.value) }}

{% if labresult.reference.low is not empty and labresult.reference.high is not empty %}

* referenceRange[+].low = {{ labresult.reference.low }} ${{ labresult.value.system }}#{{ labresult.reference.unit }}
* referenceRange[=].high = {{ labresult.reference.high }} ${{ labresult.value.system }}#{{ labresult.reference.unit }}

{{ addHTML_td(labresult.reference.low ~ " - " ~ labresult.reference.high) }}

{% if (labresult.value.value ?? labresult.valueQuantity.value) < labresult.reference.low %}
* interpretation = $v3-ObservationInterpretation#L "Low"
{{ addHTML_td("L") }}
{% elseif (labresult.value.value ?? labresult.valueQuantity.value) > labresult.reference.high %}
* interpretation = $v3-ObservationInterpretation#H "High"
{{ addHTML_td("H") }}
{% else %}
{{ addHTML_td("") }}
{% endif %}

{{ addHTML_td(labresult.value.unit ?? labresult.valueQuantity.unit)}}

{# if if lr.low or high #}
{% elseif labresult.reference.text is not empty %}
* referenceRange[+].text = "{{ labresult.reference.text }}"
{{ addHTML_td(labresult.reference.text) }}
{{ addHTML_td("-") }}
{% endif %} {# if if lr.low or high or lr.text #}

{% endif %} {# Quantity #}

{% if labresult.value.type == "CodeableConcept" or labresult.valueCodeableConcept is not empty %}

* valueCodeableConcept = {{ labresult.value.system ?? labresult.valueCodeableConcept.system }}#{{ labresult.value.code ?? labresult.valueCodeableConcept.code }} "{{ labresult.value.display ?? labresult.valueCodeableConcept.display }}"
{{ addHTML_td(labresult.valueCodeableConcept.display) }}

{% if labresult.reference.low is not empty and labresult.reference.high is not empty %}
* referenceRange[+].low = "{{ labresult.reference.low }}"
* referenceRange[=].high = "{{ labresult.reference.high }}"
{% endif %}

{% endif %} {# CodeableConcept #}

{% if labresult.site is not empty %}
* bodySite[+] = {{ labresult.site.system }}#{{ labresult.site.code }} "{{ labresult.site.display }}"
{% endif %}

{% if labresult.specimenid is not empty %}
* specimen = Reference(urn:uuid:{{ labresult.specimenid }})
{% endif %}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__eu__lab__report">{{ emitHEAD() | raw }}{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}