{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md
  
  KH since 2025-09-26
#}
%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-Observation-" ~ instanceid) }}
InstanceOf: Observation
Title: "Social History"
Description: "Social History"
Usage: #inline

* id = "{{ instanceid }}"

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Social History") }}
{{ addHEAD_th("Date") }}
{{ addHEAD_th("Status") }}
{{ addHEAD_th("Note") }}
{{ addHEAD_trend() -}}

{{ addHTML_tr() }}

* status = #final

* category[0] = $observation-category#social-history "Social History"

* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

* code = {{ socialhistory.code.system }}#{{ socialhistory.code.code }} "{{ socialhistory.code.display }}"
{{ addHTML_td(socialhistory.code.display) }}

{% if socialhistory.effectiveDateTime is empty %}
{{ addHTML_td("-") }}
{% else %}
* effectiveDateTime = "{{ socialhistory.effectiveDateTime }}"
{{ addHTML_tdnb(socialhistory.effectiveDateTime|date('d-M-Y')) }}
{% endif %}

{% if socialhistory.valueCodeableConcept is empty %}
{{ addHTML_td("-") }}
{% else %}
* valueCodeableConcept = {{ socialhistory.valueCodeableConcept.system }}#{{ socialhistory.valueCodeableConcept.code }} "{{ socialhistory.valueCodeableConcept.display }}"
{{ addHTML_tdnb(socialhistory.valueCodeableConcept.display) }}
{% endif %}

{% if socialhistory.note is empty %}
{{ addHTML_td("-") }}
{% else %}
* note[0].text = "{{ socialhistory.note }}"
{{ addHTML_tdnb(socialhistory.note) }}
{% endif %}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHEAD() | raw }}{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}
{{ emitHEAD() | raw }}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}