{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md
  
  KH since 2025-09-02
#}

%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-Observation-" ~ instanceid) }}
InstanceOf: http://hl7.org/fhir/StructureDefinition/vitalsigns
Title: "Vital Signs"
Description: "Vital Signs"
Usage: #inline

* id = "{{ instanceid }}"

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Vital Sign") }}
{{ addHEAD_th("Date") }}
{{ addHEAD_th("Measurement") }}
{{ addHEAD_trend() -}}

* status = #final

* category[VSCat].coding[0] = http://terminology.hl7.org/CodeSystem/observation-category#vital-signs "Vital Signs"

{{ addHTML_tr() }}

{# *** HTML td 1: code #}
{% if vital.code is iterable %}
* code = {{ vital.code[0].system }}#{{ vital.code[0].code }} "{{ vital.code[0].display }}"
{{ addHTML_td(vital.code[0].display) }}
{% else %}
* code = {{ vital.code.system }}#{{ vital.code.code }} "{{ vital.code.display }}"
{{ addHTML_td(vital.code.display) }}
{% endif %}

* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

{# *** HTML td 2: date #}
* effectiveDateTime = "{{ vital.date }}"
{{ addHTML_td(vital.date|date('d-M-Y')) }}

{# should have: * performer = Reference(urn:uuid:{practitionerrole-uuid}) "{practitioner-name}" #}

{# *** HTML td 3: measurement, either single or components #}
{% if vital.scale == "numeric" and vital.value is not empty %}
* valueQuantity.value = {{ vital.value }}
* valueQuantity.code = #{{ vital.unitcode }}
* valueQuantity.system = "http://unitsofmeasure.org"
* valueQuantity.unit = "{{ vital.unit }}"
{{ addHTML_td(vital.value ~ " " ~ vital.unit) }}
{% elseif vital.component %}
{% set valueunit = "-" %}
{% for c in vital.component %}
{# component with a slice? #}
{% if c.slice is not empty %}
* component[{{c.slice}}].code = {{ c.code.system }}#{{ c.code.code }} "{{ c.code.display }}"
{% else %}
* component[+].code = {{ c.code.system }}#{{ c.code.code }} "{{ c.code.display }}"
{% endif %}
* component[=].valueQuantity.value = {{ c.value }}
* component[=].valueQuantity.code = #{{ c.unitcode }}
* component[=].valueQuantity.system = "http://unitsofmeasure.org"
* component[=].valueQuantity.unit = "{{ c.unit }}"
{% set valueunit = c.value ~ " " ~ c.unit %}
{% endfor %}
{{ addHTML_td(valueunit) }}
{% else %}
{{ addHTML_td("-") }}
{% endif %}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHEAD() | raw }}{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}