{#
  This is the TWIG file for the creation of an FSH instance including the HTML parts.
  see README.md
  
  KH since 2025-09-02
#}

%%FSH%% {# tag required #}
Instance: {{ setInstance("Instance-Observation-" ~ instanceid) }}
InstanceOf: http://hl7.org/fhir/StructureDefinition/vitalsigns
Title: "Vital Signs"
Description: "Vital Signs"
Usage: #inline

* id = "{{ instanceid }}"

{# addign headers for HTML table #}
{{ addHEAD_tr() }}
{{ addHEAD_th("Vital Sign") }}
{{ addHEAD_th("Date") }}
{{ addHEAD_th("Measurement") }}
{{ addHEAD_trend() -}}

* status = #final

* category[VSCat].coding[0] = http://terminology.hl7.org/CodeSystem/observation-category#vital-signs "Vital Signs"

{{ addHTML_tr() }}

{# *** HTML td 1: code #}
{% set c = vital.code|first %}
* code = {{ c.system }}#{{ c.code }} "{{ c.display }}"
{{ addHTML_td(c.display) }}

* subject = Reference(urn:uuid:{{ patient.instanceid }}) "{{ patient.name }}"

{# *** HTML td 2: date #}
* effectiveDateTime = "{{ vital.date }}"
{{ addHTML_td(vital.date|date('d-M-Y')) }}

{# should have: * performer = Reference(urn:uuid:{practitionerrole-uuid}) "{practitioner-name}" #}

{# *** HTML td 3: measurement, either single or components #}
{% if (vital.value.scale == "numeric" or vital.valueQuantity.scale == "numeric") and (vital.value.value is not empty or vital.valueQuantity.value is not empty) %}
* valueQuantity.value = {{ vital.value.value ?? vital.valueQuantity.value }}
* valueQuantity.code = #{{ vital.value.code ?? vital.valueQuantity.code }}
* valueQuantity.system = "http://unitsofmeasure.org"
* valueQuantity.unit = "{{ vital.value.unit ?? vital.valueQuantity.unit }}"
{{ addHTML_td((vital.value.value ?? vital.valueQuantity.value) ~ " " ~ (vital.value.unit ?? vital.valueQuantity.unit)) }}
{% elseif vital.component is not empty %}
{% for cmp in vital.component %}
{% set c = cmp.code|first %}
{# component with a slice? #}
{% if cmp.slice is not empty %}
* component[{{cmp.slice}}].code = {{ c.system }}#{{ c.code }} "{{ c.display }}"
{% else %}
* component[+].code = {{ c.system }}#{{ c.code }} "{{ c.display }}"
{% endif %}
* component[=].valueQuantity.value = {{ cmp.value.value ?? cmp.valueQuantity.value }}
* component[=].valueQuantity.code = #{{ cmp.value.code ?? cmp.valueQuantity.code }}
* component[=].valueQuantity.system = "http://unitsofmeasure.org"
* component[=].valueQuantity.unit = "{{ cmp.value.unit ?? cmp.valueQuantity.unit }}"
{% endfor %} {# c in vital.component #}
{# build the component string as x/y unit #}
{% set cvalue = "" %}
{% set cunit = "" %}
{% for cmp in vital.component %}
{% set cvalue = cvalue ~ (cmp.value.value ?? cmp.valueQuantity.value) %}
{% if not loop.last %}
{% set cvalue = cvalue ~ " / " %}
{% endif %}
{% set cunit = cmp.value.unit %}
{% endfor %}
{{ addHTML_td(cvalue ~ " " ~ cunit) }}
{% else %}
{{ addHTML_td("-") }}
{% endif %}

{{ addHTML_trend() -}}

{# populate .text #}
* text.status = #generated
* text.div = """
<div xmlns="http://www.w3.org/1999/xhtml">
<table class="hl7__ips">{{ emitHEAD() | raw }}{{ emitHTML() | raw }}</table>
</div>
"""

%%HEAD%% {# tag required, content below maybe emtpy #}

%%HTML%% {# tag required, content below maybe emtpy #}
{{ emitHTML() | raw }}